:root {
    --text-color: rgb(53, 53, 53);
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

}

nav {
    display: flex;
    flex-direction: row;
}
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-weight: 900;
    font-size: 30px;
    color: var(--text-color);
}

.task_item {
    list-style-type: none;
    border: 1px var(--secondary-color) solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: var(--task-color);
    color: var(--text-color);
}

.task_item:hover {
    transition: 0.5s;
    /* border: 1px rgba(148, 148, 148, 0.63) solid; */
    cursor: pointer;
    background-color:rgba(226, 226, 226, 0.192);

}


footer form {
    display: flex;
    flex-direction: row;
    align-content: center;
}
