:root {
    --text-color: rgb(53, 53, 53);
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    display: inline-block;
}

nav a:hover {
    background-color: #000;
}


.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    flex: 1;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-weight: 900;
    font-size: 30px;
    color: var(--text-color);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-weight: 600;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.task-item label {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    width: 100%;
}

.task-item label p {
    padding-left: .5em;
    margin: 0;
}

.task-item label input:checked ~ p {
    text-decoration: line-through;
    color: rgba(53, 53, 53, .3);
}

.task-item:last-child {
    border: none;
}

footer form {
    display: flex;
    flex-direction: row;
    align-content: center;
}

footer form input {
    flex: 1;
    padding: .8em;
}
